{% extends 'cmd_page.html'%}
{% block title %} Contactez-nous{% endblock %}

{% block content %}
<h1 class="text-center">Contactez-nous</h1>
<p class="text-center lead">Pour plus informations ou pour donnez votre feed back <br>ou même pour suggerez des améliorations veuillez remplir ce formulaire</p>
<div class="container">
   <div class="  ">
    <form action="" method="POST">{% csrf_token %}
        <div class="p-2 w-25">
        <input type="text" value="{{request.user}}" name="user_name" class="form-control " readonly> 
    </div>
        <div class="p-2 ">{{form.user_mail}}</div>
        <div class="p-2 ">{{form.subject}}</div>
        <div class="p-2 ">{{form.text}}</div>
        <div class="d-flex">
            <button class="btn btn-info m-2 ">Envoyer </button>
            {% if messages %}
            {% for message in messages %}
                <div {if messages.tags } class="alert alert-{{message.tags}} m-2" >{{message}}</div>
            {% endfor%}
            {% endif %}
        </div>

    </form>
   </div>

</div>
{% endblock%}