{% extends 'cmd_page.html' %}
{% load static %}

{% block extra_head %}
<style>
    body{
       background-image: url('{% static 'img/main_bg2.png' %}');
    }
    .cont{
        margin: 5px;
        
    }
    .info-cont{
        display: block;
        width: 90%;
        border: 1px solid green;
        border-radius: 15px;
        padding: 10px;
        margin: auto;
    }
    .fhead{

        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .sub-cont{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

    }
    .inpt{
        width: 20%;
        margin: 10px;
    }
    .btn{
        max-height: 40px;
        justify-content: center;
        margin: 10px;
    }
    .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
    .gap-table{
        display: flex;
        width: 90%;

        padding: 10px;
        justify-content: center;
    }
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

</style>
{% endblock %}

{% block title %}Cloture{% endblock%} 

{% block content %}
<div class="cont">
    <div>
       
        <form method="POST" class="info-cont">{% csrf_token%} 
            <h2 class="fhead ">Cloturer La Journée</h2>
           <div class="sub-cont">
            
            {{form.username}}
            {{form.start_money}}
            {{form.closure_money}}
            {{form.closure_paper}}
           </div>
           <div class="sub-cont">
            {{form.money}}
            {{form.details}}
            <input type="submit" class=" btn btn-primary" value="Envoyer">
           </div>
        </form>
    </div>
    <div class="gap-table">
        <table class="styled-table">
            <thead>
                <tr>
                    <th >Date et Temps</th>
                    <th>Utilisateur</th>
                    <th>Arg Sortie</th>
                    <th>Ecart</th>
                    <th>Details</th>
                    <th>Ecart Calculé</th>
                    <th>Edition</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <td>{{data.creation_date}} </td>
                        <td>{{data.username}} </td>
                        <td>{{data.closure_money}} </td>
                        <td>{{data.money}} </td>
                        <td>{{data.details}} </td>
                        <td>{{data.ecart}} </td>
                        <td><a href="{% url 'editclo' data.id %}">Editer</a></td>
                    </tr>
                {% endfor%}

                <!-- and so on... -->
            </tbody>
        </table>
    </div>
    {{datas.start_money}}
</div>

{% endblock %}