{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.esm.min.js" integrity="sha512-ESlgC6ZyzTZdmD7XoDrXJNOqoIugH+FNKg8nAk8sa3cZfFALiV+lo5xoia649oyygwnkKsdUdPAJ+puqGbOs+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.esm.js" integrity="sha512-jUlTTDoq6IvZiinGFQetLcklithBTp8sVUkkUBEYQvYd3hwMuCTd59kAzVpJwvRTmZ2palO++nX+vKC+cK9lqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js" integrity="sha512-Lii3WMtgA0C0qmmkdCpsG0Gjr6M0ajRyQRQSbTF6BsrVh/nhZdHpVZ76iMIPvQwz1eoXC3DmAg9K51qT5/dEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/helpers.esm.js" integrity="sha512-DfyVRytIoS7LXOzmxSD4//oV81uwh1xV/EuK/xeh5gVJycOdBj+XTl7jeM6bcy7jiBIabR/9S2uyRL3oKKustw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/helpers.esm.min.js" integrity="sha512-urWBnIv+F027G24xDNigjxvIuwnWlWy94W2yx77VkISKLzKSohOKOubMDhtEF6LZcEH7gctmNSpxDqIW/zMmUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
    <style>
      body{
       background-image: url('{% static 'bgp.png' %}');
      }
      .btn3d {
        transition:all .08s linear;
        position:relative;
        outline:medium none;
        -moz-outline-style:none;
        border:0px;
        margin-right:10px;
        margin-top:15px;
      }
      .btn3d:focus {
          outline:medium none;
          -moz-outline-style:none;
      }
      .btn3d:active {
          top:9px;
      }
      .btn-primary {
        box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
        background-color:#428bca;}
        .btn-success {
          box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
          background-color:#5cb85c;
        }
      .btn-info {
        box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
        background-color:#5bc0de;
        }
      .btn-warning {
        box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
        background-color:#f0ad4e;
        }
      .btn-danger {
        box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
        background-color:#c63702;
        }
        nav div ul li:hover{
          background-color:#369958 ; 
          border-radius:10px;
          -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
        }
        .dropdown-item:hover{
          background-color:#369958 ; 
          border-radius:10px;
        }
        .med{
          background-color: rgba(46, 242, 121,.3);
          border: 1px solid rgba(46, 242, 121,1);
          border-radius: 10px;
          margin: 5px;
          padding: 5px;
        }
        .art{
          background-color: rgba(242, 196, 46,.3);
          border: 1px solid rgba(242, 196, 46,1);
          border-radius: 10px;
          margin: 5px;
          padding: 5px;
        }
    </style>
    <title> {% block title %}Mes manquants{% endblock%} </title>
  </head>
  <body>
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid  ">
        <a class="navbar-brand flex-grow-1" href="{% url 'main-page'%} ">OffGest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="margin:auto">
 

            <li class="nav-item dropdown ">
              
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Mes manquants
              </a>
              
              <ul id="ul2" class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-light" href="{% url 'cmd-page'%}">Ma commande</a></li>
                <li><a class="dropdown-item text-light" href="{% url 'prod-status'%}">Statistiques</a></li>

              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'dech'%}">Déchiffrage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'main-page'%}#clo">Revenu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'main-page'%}#conv">Tiers payant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'contact'%}">Contact</a>
            </li>
 
            
            <li class="nav-item dropdown border border-info rounded-3 px-1 mx-2">
              
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="text-warning py-2 ">Bienvenue  {{request.user}} </span>
              </a>
              
              <ul id="ul" class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-light" href="{% url 'reset_password'%}">Changer Mot de passe</a></li>
                <li><a class="dropdown-item text-light" href="{% url 'logout'%}">Déconnecter</a></li>

              </ul>
            </li>
            
            
          </ul>
         
        </div>
      </div>
    </nav>

{% block content %}
    <div class="d-sm-flex justify-content-between d-block text-center">
      <h1 class="text-center border border-info rounded-pill mx-auto mt-2 py-2 " style="width: 400px; background-color: #5aa9bf;" > <i class="bi bi-cart4"></i>   Mes Manquants</h1>
     
    </div>
    <!-- Product add zone -->
    <div class="container">
        <form action="" method="POST">{% csrf_token %}
          <div class=" d-sm-flex justify-content-center  py-2 px-2 " style="text-align: center;" 
        >
          <div class=" mx-auto my-3" style="width: 60%;" >
            
           <input type="text" class="form-control text-uppercase" placeholder="choisi votre produit" list="prods" name="product" id="prd" autocomplete="off" autofocus required>
            <datalist id="prods">
              
              {% for product in products%}
              <option >{{product.tag}}: {{product.name|upper}} {{product.dosage|upper}} {{product.cond|upper}} </option>
              {% endfor %}
              {% for art in arts %}
                <option>{{art.tag}}: {{art.full_name|upper}}</option>
              {% endfor %}
            </datalist>
            
          </div>
          <div class="  mx-2 my-3"><a href="{% url 'add-med'%}" style="text-decoration: none;font-size: 20px;" title="Ajout Nv produit">(+)</a></div>  
          <div class="w-25 mx-auto my-3" >
            <select type="text" class="form-control text-uppercase" placeholder="Etat de prouit" list="stock_stat" name="prod_stat" id="stk" required onchange="qttfunc()">
            <datalist id="stock_stat">
              <option value="" disabled selected>Etat de produit</option>
              <option value="Pas de Stock">Pas de Stock</option>
              <option value="Faible Stock">Faible Stock</option>
              <option value="Pour Ord">Pour Ord</option>
              <option value="Quota" style="color: blue;"> Quota   </option>
            </datalist>
            </select>
          </div>
            <input type="text" value="{{request.user.id}}" class="form-control" id="id_client" name="client">
            
            
            
           <div class="  mx-auto my-3  "> 
             <input type="number" name="qtt" value=0 class="form-control m-auto" style="width: 40%;"> </div>  
          <div> 

            <button  class="btn btn-primary btn3d my-3" name="register">Enregistrer</button>
          </div>
        
        </div> 
        
        </form> 
        
      </div>
     
<!-- Product list zone-->
    <section class="py-3 " id="sec">
        <div class="container ">
          <form method="POST">{% csrf_token%}
            <div class="d-sm-flex justify-content-center py-4 px-3" >
                <div class="card mx-3 text-center my-2" style=" height: 60vh;" >
                    <div class="card-header bg-danger"><h5 class="card-title" > <i class="bi bi-bag-x-fill"></i> Stock Epuisé & Ord  ({{ste_ord}})</h5></div>
                    <div class="card-body " style="text-align: left; overflow: auto;">
                     
                    
                      <!-- Dispaly stock 0 with nusted if -->
                      {% for elem in My_cmd_ste %}
                        {% if elem.cmded == True %}
                          <div {% if elem.product|first in "M" %} class="med" {% elif elem.product|first in "A"%} class="art" {% endif %}> 
                            {% if elem.qtt == None %}
                            <label title="Commandé" style="color: green;"> <input type="checkbox" name="products" id="{{elem.pk}}" value="{{elem.product}}"> {{elem.product}} <sup> <a href="{% url 'edit-page' elem.pk %}">Editer</a></sup></label>
                             {% else %}
                            <label title="Commandé" style="color: green;"> <input type="checkbox" name="products" id="{{elem.pk}}" value="{{elem.product}}"> {{elem.product}} {{elem.qtt}} <sup> <a href="{% url 'edit-page' elem.pk %}">Editer</a></sup></label>
                            {% endif%}
                          </div>
                        {% elif elem.indisponible == True %}
                          <div {% if elem.product|first in "M" %} class="med" {% elif elem.product|first in "A"%} class="art" {% endif %}>
                            {% if elem.qtt == None %}
                            <label title="Introuvable" style="color: red;" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{elem.product}}"> {{elem.product}} <sup> <a href="{% url 'edit-page' elem.pk %}">Editer</a></sup></label>
                            {% else %}
                            <label title="Introuvable" style="color: red;" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{elem.product}}"> {{elem.product}} ({{elem.qtt}}) <sup> <a href="{% url 'edit-page' elem.pk %}">Editer</a></sup></label>
                            {% endif %}
                          </div>
                        {% else %}
                          <div {% if elem.product|first in "M" %} class="med" {% elif elem.product|first in "A"%} class="art"{% endif %}>
                            {% if elem.qtt == None %}
                              <label title="Pas encore commnadé" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{elem.product}}">  {{elem.product}} <sup> <a href="{% url 'edit-page' elem.pk %}">Editer</a></sup></label>
                            {% else %}
                            <label title="Pas encore commnadé" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{elem.product}}">  {{elem.product}} ({{elem.qtt}}) <sup> <a href="{% url 'edit-page' elem.pk %}">Editer</a></sup></label>
                            {% endif %}
                          </div>
                        {% endif %}
                      {% endfor %}



                      <!-- display Pour ord with nusted if-->
                      {% for oelem in My_cmd_ord%}
                      {% if oelem.cmded == True %}
                        <div {% if oelem.product|first in "M" %} class="med" {% elif oelem.product|first in "A"%} class="art"{% endif %}>
                          {% if oelem.qtt == None %}
                          <label title="commnadé avec succé" style="color: green;" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{oelem.product}}"> {{oelem.product}} <sup> <a href="{% url 'edit-page' oelem.pk %}">Editer</a></sup></label>
                          {% else %}
                          <label title="commnadé avec succé" style="color: green;" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{oelem.product}}"> {{oelem.product}} ({{oelem.qtt}}) <sup> <a href="{% url 'edit-page' oelem.pk %}">Editer</a></sup></label>
                          {% endif %}
                        </div>
                      {% elif oelem.indisponible == True%}
                        <div {% if oelem.product|first in "M" %} class="med" {% elif oelem.product|first in "A"%} class="art"{% endif %}>
                         {% if oelem.qtt == None %}
                         <label title="Introuvable" style="color: red;" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{oelem.product}}"> {{oelem.product}}  <sup> <a href="{% url 'edit-page' oelem.pk %}">Editer</a></sup></label>
                         {% else %}
                         <label title="Introuvable" style="color: red;" > <input type="checkbox" name="products" id="{{elem.pk}}" value="{{oelem.product}}"> {{oelem.product}} ({{oelem.qtt}}) <sup> <a href="{% url 'edit-page' oelem.pk %}">Editer</a></sup></label>
                         {% endif %}
                        </div>
                      {% else %}
                        <div {% if oelem.product|first in "M" %} class="med" {% elif oelem.product|first in "A"%} class="art"{% endif %}>
                          {% if oelem.qtt == None %}
                          <label title="Pour Ord" style="color: blue;" ><input type="checkbox" name="products" id="{{elem.pk}}" value="{{oelem.product}}"> {{oelem.product}} <sup> <a href="{% url 'edit-page' oelem.pk %}">Editer</a></sup></label>
                          {% else %}
                          <label title="Pour Ord" style="color: blue;" ><input type="checkbox" name="products" id="{{elem.pk}}" value="{{oelem.product}}"> {{oelem.product}} ({{oelem.qtt}}) <sup> <a href="{% url 'edit-page' oelem.pk %}">Editer</a></sup></label>
                          {% endif%}
                        </div>
                      {% endif %}
                      {% endfor %}
                      
                    </div>
                  
                  </div>
    
    
                  <div class="card mx-3 text-center my-2" style=" height: 60vh;" >
                    <div class="card-header bg-warning"><h5 class="card-title"> <i class="bi bi-bag-dash-fill"></i> Faible Stock & Quotas ({{stf_q}})</h5></div>
                    <div class="card-body" style="text-align: left;overflow: auto;" >


                      <!-- display stock low with nusted if-->
                      {% for felem in My_cmd_stf %}
                      {% if felem.cmded == True %}
                        <div {% if felem.product|first in "M" %} class="med" {% elif felem.product|first in "A"%} class="art"{% endif %}>
                          {% if felem.qtt == None %}
                          <label title="Commandé avec succé" style="color: green;"><input type="checkbox" name="products" id="{{flem.pk}}" value="{{felem.product}}"> {{felem.product}} <sup> <a href="{% url 'edit-page' felem.pk %}">Editer</a></sup></label>
                          {% else %}
                          <label title="Commandé avec succé" style="color: green;"><input type="checkbox" name="products" id="{{flem.pk}}" value="{{felem.product}}"> {{felem.product}} ({{felem.qtt}}) <sup> <a href="{% url 'edit-page' felem.pk %}">Editer</a></sup></label>
                          {% endif %}
                        </div>
                      {% elif felem.indisponible %}
                        <div {% if felem.product|first in "M" %} class="med" {% elif felem.product|first in "A"%} class="art"{% endif %}>
                          {% if felem.qtt == None %}
                          <label title="Introuvable" style="color: red;"><input type="checkbox" name="products" id="{{flem.pk}}" value="{{felem.product}}"> {{felem.product}} <sup> <a href="{% url 'edit-page' felem.pk %}">Editer</a></sup></label>
                          {% else %}
                          <label title="Introuvable" style="color: red;"><input type="checkbox" name="products" id="{{flem.pk}}" value="{{felem.product}}"> {{felem.product}} ({{felem.qtt}}) <sup> <a href="{% url 'edit-page' felem.pk %}">Editer</a></sup></label>
                          {% endif %}
                        </div>
                      {% else %}
                        <div {% if felem.product|first in "M" %} class="med" {% elif felem.product|first in "A"%} class="art"{% endif %}>
                           {% if felem.qtt == None %}
                           <label title="Pas encore commandé" ><input type="checkbox" name="products" id="{{flem.pk}}" value="{{felem.product}}"> {{felem.product}} <sup> <a href="{% url 'edit-page' felem.pk %}">Editer</a></sup></label>
                           {% else %}
                           <label title="Pas encore commandé" ><input type="checkbox" name="products" id="{{flem.pk}}" value="{{felem.product}}"> {{felem.product}} ({{felem.qtt}}) <sup> <a href="{% url 'edit-page' felem.pk %}">Editer</a></sup></label>
                           {% endif%}
                        </div>
                      {% endif%}
                      {% endfor %}

                      <!-- dispalay quota with nusted if-->
                      {% for qelem in My_cmd_q %}
                      {% if qelem.cmded == True %}
                        <div {% if qelem.product|first in "M" %} class="med" {% elif qelem.product|first in "A"%} class="art"{% endif %}>
                          {% if qelem == None %}
                          <label title=" Quota commandée" style="color: blue;" ><input type="checkbox" name='products' id="{{qlem.pk}}" value="{{qelem.product}}"> {{qelem.product}} <sup style="color: green;">Commandé <a href="{% url 'edit-page' qelem.pk %}">Editer</a></sup></label>
                          {% else %}
                          <label title=" Quota commandée" style="color: blue;" ><input type="checkbox" name='products' id="{{qlem.pk}}" value="{{qelem.product}}"> {{qelem.product}} ({{qelem.qtt}})<sup style="color: green;">Commandé <a href="{% url 'edit-page' qelem.pk %}">Editer</a></sup></label>
                          {% endif %}
                        </div>
                      {% else %}
                      <div {% if qelem.product|first in "M" %} class="med" {% elif qelem.product|first in "A"%} class="art"{% endif %}>
                          {% if qelem.qtt == None %}
                          <label title="Produit quota" style="color: blue;" ><input type="checkbox" name='products' id="{{qlem.pk}}" value="{{qelem.product}}"> {{qelem.product}}<sup>Commandé <a href="{% url 'edit-page' qelem.pk %}">Editer</a></sup></label>
                          {% else %}
                          <label title="Produit quota" style="color: blue;" ><input type="checkbox" name='products' id="{{qlem.pk}}" value="{{qelem.product}}"> {{qelem.product}} ({{qelem.qtt}})<sup>Commandé <a href="{% url 'edit-page' qelem.pk %}">Editer</a></sup></label>
                          {% endif %}
                      </div>
                      {% endif %}
                      {% endfor %}
                      
                    </div>

                  </div>
                  
            </div>

           
          <div class="text-center">
            <button class="btn btn-primary btn3d my-2" name="cmded"> <i class="bi bi-cart-check-fill"></i> Produits Commandés</button>
            <button class="btn btn-success btn3d my-2" name="rec"> <i class="bi bi-cart-fill"></i> Produits Reçus</button>
            <button class="btn btn-danger  btn3d my-2" name="indis"> <i class="bi bi-cart-dash"></i> Produits indisponible</button>
            <button class="btn btn-danger  btn3d my-2" name="supp"> <i class="bi bi-cart-dash"></i> Supprimer</button>
          </div>
        </form>
  
        </div>
    </section>
{% endblock %}
<!--Footer-->
<section class="  py-2 bg-dark text-light text-center position-relative"  >
  <div class="container">
    <p class="lead ">
      Copyright &copy; 2022 OffGest
    </p>
    <a href="#" class="position-absolute  bottom-0 end-0 p-5">
      <i class="bi bi-arrow-up-circle h2"></i>
    </a>
  </div>
</section>
   
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  }
-->

<script>
  
  document.getElementById('id_client').style = 'visibility : hidden;width : 10px';
  
  

  
    
  
</script>
</body>
 