{% extends 'cmd_page.html' %}
{% load static %}

{% block title %} Accés refusé {% endblock %}
{% block extra_head %} 
    <style>
        body{
            background-image: url('{% static 'img/acces_refuse.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;

            
        
        }
        .container h1{
            border: 1px solid black;
            margin-top: 50px;
            background-color: #f59e42;
            width: 300px;
            padding: 15px;
            border-radius: 15px;
        }
    </style>
{% endblock %}


{% block content %}
<div class="container">
    <h1>ACCES REFUSE</h1>
</div>

{% endblock %}