{% extends 'cmd_page.html'%}
{% load static %}
{% block title %} Déchiffrage {% endblock %}


{% block content %}

<div class="container m-3">
    <h2 class="text-center bg-success  rounded-pill w-75 m-auto mt-3 p-3"> <i class="bi bi-file-medical-fill"></i>  APPLICATION DE DECHIFFRAGE </h2>
    <div class=" m-auto mt-4 w-50   " style="width: 60%;">
        
        <form action="" method="POST" >{% csrf_token %}
            <div class="text-center d-sm-flex justify-content-center d-50 " >
                <input type="text" name="dech" list="all_products" class="form-control   m-auto" style="width:70%">
            <datalist id="all_products">
              {% for product in products %}
              <option value="{{product.name|upper}}">{{product.dci|upper}} </option>
              {% endfor %}
              {% for art in arts %}
              <option >{{art.full_name|upper}} </option>
              {% endfor %}
             
            </datalist>
            <div style=" margin-top: 5px;" >
                <input class="btn btn-primary m-auto " name="dech_btn" value="Chercher" > <i class="bi bi-search"></i>
            </div>
            </div>

        </form>
    </div>
        <!--Display search result-->
    <section class="m-5">
        <div class="container">
            
            <div class=" row  align-items-baseline "> 
              <div class="col-sm  py-2">
                <div class="card border border-info" style="height: 60vh;">
                  <div class="card-header text-center bg-info">
                    <img src="{% static 'pill-svg.svg'%}" alt="pill" style="width: 20px;"> Médicament
                  </div>
                  <div class="card-body" style="overflow: auto;">
                    {% for prod in products_match %}
                  
                        
                      {{prod|upper}} <br>
                        
                  
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
              <div class="col-sm py-2">
                <div class="card border border-warning" style="height: 60vh;">
                  <div class="card-header text-center bg-warning">
                    <i class="bi bi-layers"></i> DCI
                  </div>
                  <div class="card-body"style="overflow: auto;">
                    {% for dci in dcis_match %}
                    
                        
                        {{dci|upper}} <br>
                        
                    
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
              <div class="col-sm py-2">
                <div class="card border border-success" style="height: 60vh;">
                  <div class="card-header text-center bg-success">
                    <i class="bi bi-pin-angle-fill"></i> Article
                  </div>
                  <div class="card-body" style="overflow: auto;">
                     {% for art in arts_match %}
                    
                       
                        {{art|upper}} <br>
                        
                    
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
    </section>
</div>


{% endblock %}
